<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./css/Cadastro.css">
  <link rel="stylesheet" href="./css/principal.css">
  <meta charset="UTF-8">
<title>Bom som</title>
</head>

<body>

  <div class="header">
    <img class="marca" src="./image/bomSom.png" height="100px" width="110px" />
    <a class="Social" href="https://www.facebook.com/Bom-Som-101827612092396"><img src="./image/facebook.png"
        height="80px" width="70px" />
      <a class="Social" href="https://www.instagram.com/bomsomrv/"><img src="./image/insta.png" height="80px"
          width="70px" />
  </div>

  <div class="navbar">
    <a href="index.html">HOME</a>
    <a href="#about">SOBRE NÓS</a>
    <a href="">CONTATO</a>
    <a href="Projetos.html">PROJETOS</a>

    <div class="dropdown">
      <button class="dropbtn">CADASTRO
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="marcado" href="cadastroCliente.html">CLIENTE</a>
        <a href="cadastroFuncionario.html">FUNCIONARIO</a>
        <a href="#">PROJETO</a>
      </div>
    </div>
  </div>

  <div class="container">
    <a class="links" id="paracadastro"></a>


    <div class="content">


      <!--FORMULÁRIO DE CADASTRO-->
      <div id="cadastro">
        <form method="post" action="">
          <h1>Cadastro De Cliente</h1>
          <div class="name">
            <label for="name">Seu nome</label>
            <input id="name" name="name" required type="text" placeholder="Luiz Augusto" />
          </div>

          <div class="email">
            <label for="email">Seu e-mail</label>
            <input id="email" name="email" required type="email"placeholder="contato@htmlecsspro.com" />
          </div>

          <div class="style-music">
            <label for="music">Estilo de música</label>
            <select name="select" required>
              <option value="frevo" selected>frevo</option>
              <option value="pop">pop</option>
              <option value="rock">rock</option>
              <option value="mpb">mpb</option>
              <option value="funk">funk</option>
              <option value="forro">forro</option>
              <option value="outros">outros</option>
            </select>
          </div>
          <div class="birth-date">
            <label for="date">Data de nascimento</label>
            <input id="date" type="date" required>
          </div>
          <div class="address">
            <label for="address">Seu endereço</label>
            <input id="street" name="street" required type="text" placeholder="Rua" />
            <input id="district" name="district" required type="text" placeholder="Bairro" />
            <input id="number" name="number" required type="text" placeholder="Número" />
            <input id="complement" name="complement" required type="text" placeholder="Complemento" />
          </div>
          <input type="submit" value="Cadastrar" />


        </form>
      </div>
    </div>
  </div>
</body>

</html>