<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./css/principal.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />


  <meta charset="UTF-8" />
  <title>Bom som</title>
</head>

<body>


  <div class="header">
    <img class="marca" src="./image/bomSom.png" height="100px" width="110px" />
    <a class="Social" href="https://www.facebook.com/Bom-Som-101827612092396"><img src="./image/facebook.png"
        height="80px" width="70px" />
      <a class="Social" href="https://www.instagram.com/bomsomrv/"><img src="./image/insta.png" height="80px"
          width="70px" />
  </div>

  <div class="navbar">
    <a class="marcado" href="">HOME</a>
    <a href="#about">SOBRE NÓS</a>
    <a href="">CONTATO</a>
    <a href="Projetos.html">PROJETOS</a>

    <div class="dropdown">
      <button class="dropbtn">CADASTRO
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="cadastroCliente.html">CLIENTE</a>
        <a href="#">FUNCIONARIO</a>
        <a href="#">PROJETO</a>
      </div>
    </div>
  </div>


  </div>
  <div class="Slider">
    <img src="./image/slide1.png" />
    <img src="./image/slide2.png" />
    <img src="./image/slide3.png" />

  </div>

  </div>
  
  <div class="about-section">
    <h1 id="about">Sobre nos</h1>
    <p>Somos um empresa focada em trazer o melhor da música para a vida das pessoas. temos como prioridade ajudar voc|ê
      a descobrir seu bom som</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>

  <h2 style="text-align:center">Nosso time</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Ryan Rangel</h2>
          <p class="title">CEO & Founder</p>

          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Vinicius Rodrigues</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Naruto Uchiha</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="./js/Main.js"></script>
</body>

</html>