<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./css/principal.css">
</body>

</html>

   
    <meta charset="UTF-8" />
    <title>Bom som</title>
</head>

<body>

    <div class="header">
      <img class="marca" src="./image/bomSom.png" height="100px" width="110px"/>
      <a class = "Social" href  ="https://www.facebook.com/Bom-Som-101827612092396"><img src ="./image/facebook.png" height="80px" width="70px" />
      <a class = "Social" href ="https://www.instagram.com/bomsomrv/"><img src ="./image/insta.png" height="80px" width="70px"/>
    </div>

    <div class="navbar">
        <a class="marcado" href="index.html">HOME</a>
                  <a href="#about">SOBRE NÓS</a>
                  <a href="">CONTATO</a>
                  <a href="Projetos.html">PROJETOS</a>
                 
        <div class="dropdown">
          <button class="dropbtn">CADASTRO
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="cadastroCliente.html">CLIENTE</a>
            <a href="#">FUNCIONARIO</a>
            <a href="#">PROJETO</a>
          </div>
        </div>
      </div>
    </body>

    </html>